*{
    margin: 0px;
    padding: 0px;
}
table{
    border-collapse: collapse;
}
td{
    border: 1px lightgray solid;
    min-width: 40px;
    height: 40px;
    text-align: center;
    font-size: 25px;
}
.img_peca{
    width: 40px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    filter: hue-rotate(0deg);
    z-index: 1;
}

.img_peca:hover{
    left: -5px;
    bottom: 2px;
}
td:hover{
    background-color: lightgray;
}

#menu_esquerdo{
    background-color: rgb(130, 255, 0);
    width: 60px;
    height: 100%;
    position: fixed;
    z-index: 5;
    float: left;
    box-shadow: 0 0 20px 3px rgba(0,0,0,0.75);
    clip-path: inset(0px -40px 0px 0px); /*para a sombra*/
}

#campo, #configuracoes, #sobre, #dados_jogador{
    position: absolute;    
    left: 60px;
    /*width: calc(100% - 70px);*/
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: table;
    padding: 30px;

}

#sobre, #configuracoes, #dados_jogador{
    position: fixed;
    background-color: rgb(199, 199, 199);
    box-shadow: 0 0 20px 3px rgba(0,0,0,0.75);
    clip-path: inset(0px -40px 0px 0px); /*para a sombra*/
    max-width: 310px;
}
#campo{
    width: calc(100% - 70px)
}

.personalizacao{

    margin-bottom: 30px;
}

.informacoes{
    border: 3px solid rgb(8, 112, 8);
    margin: 10px;
    text-align: center;
}
img{
    margin: 10px;
}
img:hover{
    position: relative;
    left: 5px;
    bottom: 2px;
    
}

#menu{
    margin-top: 30%;
}


